
<style>
    .person_details_outer {
        background-color: honeydew;
        padding: 1em;
        margin: 1em;
    }

    .person_details_inner {
        background-color: aliceblue;
    }

    .project_outline {
        background-color: beige;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 1em;

    }

    .project_persons {
        padding-left: 4em;
    }

    .project_person {
        background-color: honeydew;
        padding-left: 4em;
    }

    .project_tasks {
    {#        padding-left: 4em;#}
    {#        padding-right: 4em;#}
    {#        padding-bottom: 0.1em;#}

    }

    .project_task {
        background-color: lavender;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 1em;

    }

    .task_people {
        background-color: honeydew;
        padding-left: 4em;
    }

    .task_preceding_tasks {
    {#        background-color: lightcyan;#}
    {#        padding-left: 4em;#}
    }

    .task_err {
        background-color: whitesmoke;
        color: red;
    }

    .funds {
    {#                padding-bottom: 0.1em;#}

    }

    .fund {
        background-color: lavenderblush;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 1em;
    }

    .fund_err {
        background-color: whitesmoke;
        color: red;
    }

    .funding_body {
        background-color: plum;
    }
</style>


<script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js" integrity="sha256-2/3+Q1kMYR8MDaqFPNBgmLgiqWJjySkg1wqLx/iE5Zo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/uk.js" integrity="sha256-vdBxOXCFJ8UqQyiJrWLlnT1O/Bnvmpn+yrVrOg0Xafw=" crossorigin="anonymous"></script>

<script>
    $( document ).ready(function() {

        $.ajax({
            method: "GET",
            url: "{% url 'all_people_data' %}"
        }).done(function( msg ) {
            {#                alert( "Data Saved: " + msg );#}
            {#                $('#person_details_calc_1').text(JSON.stringify(msg, null, 2));#}

            for(var a in msg['ProjectTimeAssignment']) {
                var data = msg['ProjectTimeAssignment'][a];
                {#                    var start = new moment(data['start_date']);#}
                var end = new moment(data['end_date']);
                {#                alert(end.diff(start, 'week') * data['hours_per_week']);#}
                var num_weeks = end.diff(moment(), 'week');
                var num_total_hours = num_weeks * data['hours_per_week'];
                var left_available = num_total_hours - data['count'];
                var perc_busy = data['count'] / num_total_hours * 100;
                var bad_news_msg = "has " + num_weeks + " weeks left, with " + data['count'] + " hours spoken for." +
                    " This leaves them " + left_available + " hours. They are " + perc_busy + "% busy";
                $('#person_details_calc_' + data['id']).text(bad_news_msg);
            }

        });

        $.ajax({
            method: "GET",
            url: "{% url 'all_task_data' %}"
        }).done(function( msg ) {
            for(var a in msg['task_data']) {
                var data = msg['task_data'][a];
                $('#task_working_days_' + data['id']).text("This is " + data['length_working_days'] + " working days.");
                var html = "";
                for(var e in data['errors']){
                    var err = data['errors'][e];
                    html += "<div class='task_err'><p>" + err['reason'] + "</p></div>";
                }
                $('#task_errors_' + data['id']).html(html);
            }
        });

        $.ajax({
            method: "GET",
            url: "{% url 'all_project_data' %}"
        }).done(function( msg ) {
            for(var a in msg['project_data']) {
                var data = msg['project_data'][a];
                $('#project_data_' + data['id']).text(JSON.stringify(data));
                var html = "";
                for(var e in data['errors']){
                    var err = data['errors'][e];
                    html += "<div class='project_err'><p>" + err['reason'] + "</p></div>";
                }
                $('#project_errors_' + data['id']).html(html);
            }
        });

        $.ajax({
            method: "GET",
            url: "{% url 'all_fund_data' %}"
        }).done(function( msg ) {
            for(var a in msg['fund_data']) {
                var data = msg['fund_data'][a];
                {#                    $('#task_detail_' + data['id']).text(JSON.stringify(data));#}
                var html = "";
                for(var e in data['errors']){
                    var err = data['errors'][e];
                    html += "<div class='fund_err'><p>" + err['reason'] + "</p></div>";
                }
                $('#fund_errors_' + data['id']).html(html);
            }
        });
    });
</script>

<h3>There are {{ people|length }} people registered in the WorkTracker (tm)</h3>

{% for person in people %}
    <div class="person_details_outer" id="person_details_{{ person.id }}">
        <p>{{ person.name }}</p>
        <div class="person_details_inner" id="person_details_calc_{{ person.id }}">
        </div>
    </div>
{% endfor %}


{% for p in projects %}

    <div class="project_outline">
        <p>Project {{ forloop.counter }} of {{ projects|length }}</p>
        <h2>{{ p.name }}</h2>

        <p>
            {% if p.start_date %}
                The project started at {{ p.start_date }}.
            {% else %}
                The project has no recorded start date.
            {% endif %}
        </p>

        <p>
            {% if p.end_date %}
                The project is due to finish at {{ p.end_date }}.
            {% else %}
                The project will probably last forever.
            {% endif %}
        </p>

        <div id="project_data_{{ p.id }}"></div>

        <div class="project_persons">
            <h3>Project has {{ p.person_set.all|length }} workers assigned.</h3>
            <div class="project_person">
                {% for person in p.person_set.all %}
                    <p>{{ person.name }} is assigned:

                    {% for project_person_time in p.projecttimeassignment_set.all %}
                        {% if project_person_time.person == person %}
                            {{ project_person_time.hours }} hours
                            {% if project_person_time.financed %}
                                <strong>funded.</strong>
                            {% else %}
                                <strong>for free.</strong>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </p>
            </div>

            <div class="project_person_time">
                {% for project_person_time in p.projecttimeassignment_set.all %}
                    <p>{{ project_person_time.hours }} hours are assigned</p>
                {% endfor %}
            </div>
        </div>

        <div class="project_tasks">
            <h3>Project has {{ p.task_set.all|length }} tasks.</h3>

            {% for task in p.task_set.all %}
                <div class="project_task">

                    <h4>{{ task.name }}</h4>
                    <p>Task begins {{ task.start_date }} and ends {{ task.end_date }}. <strong id="task_working_days_{{ task.id }}"></strong></p>

                    <div id="task_detail_{{ task.id }}"></div>

                    <div class="fund">
                        <p>Time costed to {{ task.fund.reference_name }} - {{ task.fund.description_of_intent }}</p>
                        <div class="funding_body">
                            <p>Task funded by {{ task.fund.funding_body.name }} - {{ task.fund.funding_body.department }}</p>
                        </div>
                    </div>

                    <p>{{ task.people_assigned.all|length }} people_assigned</p>

                    {% for taskpeople in task.people_assigned.all %}
                        <div class="task_people">
                            <p>{{ taskpeople.name }} is assigned to this task.</p>
                        </div>
                    {% endfor %}

                    {% for preceding_task in task.preceding_tasks.all %}
                        <div class="task_preceding_tasks">
                            <p><strong>{{ preceding_task.name }}</strong> must complete before this task begins.</p>
                        </div>
                    {% endfor %}
                    <div id="task_errors_{{ task.id }}"></div>
                </div>

            {% endfor %}
        </div>

    </div>

{% endfor %}

<div class="funds">
    {% for f in funds %}
        <div class="fund">

            <p>Funding stream {{ forloop.counter }} of {{ funds|length }}</p>
            <p>Funds for : {{ f.description_of_intent }}</p>
            <p>Originally costed {{ f.costed_hours }} hours.</p>
            <div id="fund_errors_{{ f.id }}"></div>
            <div class="funding_body">
                <p>Funded by : {{ f.funding_body.name }} - {{ f.funding_body.department }}</p>
            </div>
        </div>
    {% endfor %}
</div>
